* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  /* background: red; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  /* background-color: red; */
  background-image: conic-gradient(red 50%, transparent 50%);
}
