* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 400px;
  position: absolute;
  top: 100px;
  left: 30%;
  background-color: black;
}

.box a {
  text-decoration: none;
  color: #fff;
}

.box ul {
  background-color: green;
  display: none;
}

.box ul.active {
  display: block;
}

.has-children:hover ul li {
  display: block;
}
