/* 
    SHAPE CSS
*/

.box {
  width: 100px;
  height: 100px;
  border: 50px solid;
  border-color: red green blue blueviolet;
}

.img {
  width: 0px;
  height: 0px;
  /* border-top: 50px solid yellow; */
  border-bottom: 50px solid blue;
  /* border-left: 50px solid red; */
  border-left: 50px solid transparent;
  /* border-right: 50px solid green; */
  border-right: 50px solid transparent;
}
