* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  background: white;
  position: fixed;
  top: 0;
  left: -200px;
  bottom: 0;
  width: 200px;
  padding: 15px;
  z-index: 100;
  transition: left 0.3s linear;
}

.overlay {
  background: rgba(185, 183, 183, 0.445);
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear;
  transition-property: opacity, visibility;
}

input[type="checkbox"]:checked ~ .menu {
  left: 0;
}

input[type="checkbox"]:checked ~ .overlay {
  opacity: 1;
  visibility: visible;
}
