* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 300px;
  height: 300px;
  margin: 30px auto;
  border: 1px solid red;
  position: relative;
}

.item {
  background-color: green;
  color: white;
  width: auto;
  height: auto;
  border: 1px solid #fff;
}

/* 
    Thuộc tính Position: Thay đổi vị trí các thẻ html
    - static: mặc định, không có position
    - relative: 
        + Không thay đổi bố cục
        + tương đối với vị trí ban đầu
        + nhược điểm: không linh hoạt
    - absolute: tuyệt đối
    - fixed: cố định khi kéo thanh cuộn. Chỉ nhận body làm cha
    => áp dụng cho thanh header, button lên đầu trang

    Các thuộc tính khi kích hoạt position (trừ static):
    - top
    - bottom
    - left
    - right
    - z-index
    - inset: viết tắt của 4 thuộc tính trên: top -> left -> bottom -> right ->
*/

.item:nth-child(2) {
  /* position: relative;
  left: calc(100% - 100px);
  top: 20px; */
  position: fixed;
  /* top: 0; */
  bottom: 0;
  right: 0;
}

.item:nth-child(4) {
  position: absolute;
  top: 30px;
  right: auto;
  z-index: -1;
}

/* 
    position: absolute
    - thay đổi lại bố cục thẻ html
    - thuộc tính không nhận thẻ cha hiện tại mà nhận body làm thẻ cha
*/
